{% extends 'base.html' %}
{% load static %}
{% block title %}
GreatKart | Checkout
{% endblock title %}
{% block content %}
<section class="section-content padding-y bg">
    <div class="container">
        
        <!-- ============================ COMPONENT 1 ================================= -->
        
        

            <div class="row">
                <aside class="col-lg-7">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h3>Billing Address</h3>
                            </div>
                            <hr>
                            <form action="{% url 'checkout' %}" method="POST" class="form">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col form-group">
                                        <label for="">First Name</label>
                                        <input type="text" class="form-control" name="first_name">
                                    </div>
                                    <div class="col form-group">
                                        <label for="">Last Name</label>
                                        <input type="text" class="form-control" name="last_name">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <label for="">Email</label>
                                        <input type="email" class="form-control" name="email">
                                    </div>
                                    <div class="col form-group">
                                        <label for="">Phone Number</label>
                                        <input type="number" class="form-control" name="phone_number">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <label for="">Address Line 1</label>
                                        <input type="text" class="form-control" name="address_1">
                                    </div>
                                    <div class="col form-group">
                                        <label for="">Address Line 2</label>
                                        <input type="text" class="form-control" name="address_1">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <label for="">Country</label>
                                        <input type="text" class="form-control" name="country">
                                    </div>
                                    <div class="col form-group">
                                        <label for="">City</label>
                                        <input type="text" class="form-control" name="city">
                                    </div>
                                    <div class="col form-group">
                                        <label for="">State</label>
                                        <input type="text" class="form-control" name="state">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <label for="">Order Notes</label>
                                        <textarea class="form-control" name="" id="" rows="2"></textarea>
                                    </div>
                                </div>
                        </div>
                    </div> <!-- card.// -->
                        
                </aside> <!-- col.// -->
                <aside class="col-lg-5">
                        
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-borderless table-shopping-cart">
                                <thead class="text-muted">
                                    <tr class="small text-uppercase">
                                        <th scope="col">Product</th>
                                        <th scope="col" width="120">Quantity</th>
                                        <th scope="col" width="120">Price</th>
                                        {% comment %} <th scope="col" class="text-right" width="200"> </th> {% endcomment %}
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {% for cart_item in cart_items %}
                                    <tr>
                                        <td>
                                            <figure class="itemside align-items-center">
                                                <div class="aside"><img src="{{cart_item.product.product_images.url}}" class="img-sm"></div>
                                                <figcaption class="info">
                                                    <a href="{{cart_item.product.get_url}}" class="title text-dark">{{cart_item.product.product_name}}</a>                                         
                                                    <p class="text-muted small">
                                                        
                                                        {% if cart_item.item_variation.all %}
                                                            
                                                            {% for item in cart_item.item_variation.all %}
                                                                {{item.variation_type}} : {{item.variation_value}}<br>
                                                            {% endfor %}
                                                                
                                                        {% endif %}
                                                        
                                                    </p>
                                                </figcaption>
                                            </figure>
                                        </td>
                                        <td> 
                                            <!-- col.// -->
                                            <div class="col"> 
                                                <div class="input-group input-spinner">
                                             
                                                    <input type="text" class="form-control"  value="{{cart_item.quantity}}">
                                                </div> <!-- input-group.// -->
                                            </div> <!-- col.// -->
                                        </td>
                                        <td> 
                                            <div class="price-wrap"> 
                                                <var class="price">${{cart_item.sub_total}}</var> 
                                                <small class="text-muted"> ${{cart_item.product.price}} each </small> 
                                            </div> <!-- price-wrap .// -->
                                        </td>
                                        
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <button type="submit" class="btn btn-primary btn-block">Order Now</button>
                            <a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a>
                        </form>
                        </div>
                        
                    </div> <!-- card.// -->
                
                </aside> <!-- col.// -->
                
                
            </div> <!-- row.// -->

            
        <!-- ============================ COMPONENT 1 END .// ================================= -->
        
    </div> <!-- container .//  -->
</section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}